<div class="container">
  <div class="row nav_margins">
    <div class="col-lg-2"> 
      <img width=55px src="/images/Graphic-SquigglyLine.jpg"/>
        <a href="/about" class="nav_text">About</a>
    </div>
    <div class="col-lg-2" >         
        <img width=55px src="/images/Graphic-SquigglyLine.jpg"/>
        <a href="/projects" class="nav_text">Explore</a>
    </div>
    <div class="col-lg-2">
        <img width=55px src="/images/Graphic-SquigglyLine.jpg"/>  
        <a href="/projects" class="nav_text">Sketches</a>
    </div>
  </div>
</div>
<h>