<div class="container-full" >
  <div class="row nav_formatting" >
    <div class="col-lg-12" > 
      
      <a href="/" class="name">Napkin Sketch</a>
      
      <img src="/images/Graphic-Squiggley_Vertical.jpg" class="nav_image">
      
      <a href="/about" class="nav_text">About</a>
    
      <img src="/images/Graphic-Squiggley_Vertical.jpg" class="nav_image">
      
      <a href="/explore" class="nav_text">Explore</a>
      
      <img src="/images/Graphic-Squiggley_Vertical.jpg" class="nav_image">

      <a href="/projects" class="nav_text">Sketches</a>

      <img src="/images/Graphic-Squiggley_Vertical.jpg" class="nav_image">
      
    </div>  
  </div>
</div>
