<%= erb :_navbar %>
<br>
<section class="container">
  
  <p class="lead">
     <strong>Napkin Sketch</strong> is a look at the process by which designers go from the <strong>conceptual</strong> to the <strong>concrete</strong>. From <strong>idea</strong> to <strong>finished</strong> product. Take a look at the napkin sketches on this site, and see how they compare to the final building designs....
  </p>

  <p class="lead">
    Thoughts on the importance of the napkin sketch in architecture:
  </p>

  <br>

  <div class="row"> 
    <div class="col-lg-6col-md-4 col-sm-6 col-xs-12 proj_images">

      <blockquote>
        <p>
          Challenging architects to express themselves on a dinner napkin can be viewed as a somewhat sadistic exercise. Who are you, in sixteen square inches or less?
        </p>

        <p>
          The responses are a kind or Rorschach test. The idea that emerges on the napkin ... while hardly a definitive portrait, reveals something about the values and goals of the creator. The range of expression on these pages includes architecture as building for humans, and as a form of abstract sculpture, artistic renderings, ... whimsical renderings of this or that, and, my favorites, small commentaries on human interaction. Of course, as I just demonstrated, reacting to these doodles also reflects on the viewer.
        </p>
             
        <p>
          Whatever their meaning, sketches by talented people tend to be magical and ... are often beautiful
        </p>

        <footer>
          Winfried Nerdlinger from 
            <cite >
              Dinner for Architects: A Collection of Napkin Sketches
            </cite>
        </footer>
      </blockquote>
    </div>

    <div class="col-lg-6col-md-4 col-sm-6 col-xs-12 proj_images">
      <blockquote>
        <p>
          So, when trying to communicate in a situation where words alone won’t work, think about creating a napkin sketch. It’s a great visual way to make the abstract concrete, the intangible tangible, and the unfamiliar familiar.
        </p>

        <footer>
          Todd Cherches from 
          <cite>
            The Art of Napkin Sketching: A Simple, Powerful Way to Generate and Communicate Ideas
          </cite>
        </footer>
      </blockquote>
    </div>
  </div>    
</section>


