<!-- <img src="/images/Home.png"/>  -->
<!-- <img src="/images/Home.png" id="bg" alt="">
 -->
<h1 class="centered white_text large_text">The Napkin Sketch</h1>
 <!-- <img width=250px class="centered" src="/images/Graphic-SquigglyLine.jpg"/>  -->

 <body>
  <img alt="full screen background image" src="/images/Home2.jpg" id="full-screen-background-image" /> 
  <div class="wrapper">
    <p>Content goes here...</p>
  </div>
</body>