<a href="/about">
  <h1 class="white_text large_text">Napkin Sketch</h1>
</a>

<hr>

<h4 class="white_text">From Inspiration To Realization</h4>

 <body>
  <img alt="full screen background image" src="/images/Home2.jpg" id="full-screen-background-image" /> 
  <div class="wrapper">
    <p>Content goes here...</p>
  </div>
</body>