html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

hr{
  margin:0;
}


/*Home Page Styling*/

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

.wrapper {
  position: relative;
  width: 800px;
  min-height: 400px;
  margin: 100px auto;
  color: #333;
}

.white_text{
  color: white;
}

.large_text{
  font-size:60px;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/*Nav Bar Styles*/

.name{
  text-align:bottom;
  margin-left: 10px;
  color: white;
  font-size: 200%;
}

.nav_text{
  text-align:bottom;
  margin-left: 10px;
  color: white;
  font-size: 150%;
}

.container-full {
  margin: 0 auto;
  width: 100%;
  background-color: black;
}

.nav_formatting{
  padding: 10px;
}

.nav_image{
  height:50px;
  width:3px;
  margin-left:15px;
}


/*Explore Styles*/

.sketches{
  float:left; 
  margin-top: 20px; 
  margin-left:20px
}

.arrows{
  float:left; height:20%; 
  width: 30%; 
  margin-top:50px; 
  margin-left: 50px;
}

.explore_text{
  clear:left; 
  margin-left:20px
}

/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.container {
  max-width: 1100px;
  margin: 0 auto;
}
/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Arial", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-1 {
  background-image: url("/images/Pattern-Parallax_Background.jpg");
}
/*section.module.parallax-2 {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQttnZNw-y6auGP6WrwuwtemkIxTsmjM83UeG_05k8UZsKhPTan");
}
section.module.parallax-3 {
  background-image: url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTRZ0z0FEp2fHsTVYiQup5wQClJXp-1aHDvbnEE1QGFtGDm2nQ3DA");
}*/

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}


/*Projects Styles*/

.proj_text{
  text-align: bottom;
  text-align: center;
}

.proj_images{
  width=150px;
  height=150px;
  text-align: center; 
}

.proj_margins{
  margin-bottom: 80;
}

.center{
  text-align:center;
}

/*Image Carousel*/

.ia-container {
    width: 435px; /*( (Number of images - 1) * 50px ) + 335px*/
    margin: 20px auto;
    overflow: hidden;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.08);
    border: 7px solid rgba(255,255,255,0.6);
}

.ia-container figure {
    position: absolute;
    top: 0;
    left: 50px; /* width of visible piece */
    width: 335px; /*335px is default*/
    box-shadow: 0 0 0 1px rgba(255,255,255,0.6);
    transition: all 0.3s ease-in-out;
}

.ia-container > figure {
    position: relative;
    left: 0 !important;
}

.ia-container img {
    display: block;
    width: 100%;
}

.ia-container input {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px; /* just cover visible part */
    height: 100%;
    cursor: pointer;
    border: 0;
    padding: 0;
    opacity: 0;
    z-index: 100;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.ia-container input:checked{
    width: 5px;
    left: auto;
    right: 0px;
}

.ia-container input:checked ~ figure {
    left: 335px;
    transition: all 0.7s ease-in-out;
}

.ia-container figcaption {
    width: 100%;
    height: 100%;
    background: rgba(87, 73, 81, 0.1);
    position: absolute;
    top: 0px;
    transition: all 0.2s linear;
}
 
.ia-container figcaption span {
    position: absolute;
    top: 40%;
    margin-top: -30px;
    right: 20px;
    left: 20px;
    overflow: hidden;
    text-align: center;
    background: rgba(87, 73, 81, 0.3);
    line-height: 20px;
    font-size: 18px;
    opacity: 0;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
    padding: 20px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.ia-container input:checked + figcaption,
.ia-container input:checked:hover + figcaption{
    background: rgba(87, 73, 81, 0);
}

.ia-container input:checked + figcaption span {
    transition: all 0.4s ease-in-out 0.5s;
    opacity: 1;
    top: 50%;
}

.ia-container #ia-selector-last:checked + figcaption span {
    transition-delay: 0.3s;
}

.ia-container input:hover + figcaption {
    background: rgba(87, 73, 81, 0.03);
}

.ia-container input:checked ~ figure input{
    z-index: 1;
}

@media screen and (max-width: 720px) {
    .ia-container { 
        width: 540px; 
    }

@media screen and (max-width: 720px) {
    .ia-container { 
        width: 540px; 
    }
     
    .ia-container figure { 
        left: 40px; 
        width: 260px; 
    }
     
    .ia-container input { 
        width: 40px; 
    }
     
    .ia-container input:checked ~ figure { 
        left: 260px; 
    }
     
    .ia-container figcaption span { 
        font-size: 16px; 
    }
}
 
@media screen and (max-width: 520px) {
    .ia-container { 
        width: 320px; 
    }
     
    .ia-container figure { 
        left: 20px; 
        width: 180px; 
    }
     
    .ia-container input { 
        width: 20px; 
    }
     
    .ia-container input:checked ~ figure { 
        left: 180px; 
    }
     
    .ia-container figcaption span { 
        font-size: 12px; 
        letter-spacing: 2px; 
        padding: 10px; 
        margin-top: -20px; 
    } 
 
}


/*Project Page Styles*/

.button {
    display: block;
    height: 30px;
    width: 350px;
    background: #000000;
    border: 2px solid rgba(33, 68, 72, 0.59);
    color:white;
    margin-bottom:50px;
  }

  /*Carousel Styling*/
.slider-size {
height: 400px; /* This is your slider height */
}

.carousel {
width:100%; 
margin:0 auto; /* center your carousel if other than 100% */ 
}

.float_left{
  float:left;
}

.float_right{
  float:right;
}

.hr_format{
  margin-top:30px;
}

.proj_info{
  float:left; 
  padding-top:0px
}

.proj_description{
  float:right; 
  width:624px
}    